<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your To-Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src ="../static/sort.js"></script>
</head>
<body class="text-light bg-dark">
    <div class="page-header">
        <div class="row">
    <div class="row">
    <div class="col-md-11">
        <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Home</a>
        <a href="{{ url_for('add') }}" class="btn btn-success btn-lg">Add Task</a>
    </div>
    <div class="col-md-1">
        <label for="per_page" class="float-md-right">Tasks per page:</label>
        <select id="per_page" class="form-control w-75" onchange="changePerPage(this)">
            <option value="5" {% if tasks_pagination.per_page == 5 %}selected{% endif %}>5</option>
            <option value="10" {% if tasks_pagination.per_page == 10 %}selected{% endif %}>10</option>
            <option value="20" {% if tasks_pagination.per_page == 20 %}selected{% endif %}>20</option>
        </select>
    </div>
</div>

</div>
        <table id="myTable" class="table text-light bg-dark">
<thead>
    <tr>
        <th scope="col" onclick="sortTable(0)">Title</th>
        <th scope="col" onclick="sortTable(1)">Description</th>
        <th scope="col" onclick="sortTable(2)">Priority</th>
        <th scope="col" onclick="sortTable(3)">Finish By</th>
        <th scope="col" onclick="sortTable(4)">Completed</th>
        <th scope="colgroup" colspan="2" class="text-center">Options</th>
        <th scope="col" class="text-center">Details</th>
    </tr>
</thead>
        <tbody class="text-light bg-dark">
    {% for task in tasks_pagination.items %}
    <tr>
        <td>{{task.title}}</td>
        <td class="text-truncate" style="width: 20%">{{task.description}}</td>
        <td style="width:5%">{{task.priority}}</td>
        <td style="width:7%">{{task.finish_by}}</td>
        <td style="width:5%">{{task.completed}}</td>
        <td class="text-center" style="width:10%"><a href="/edit/{{task.id}}">Edit</a></td>
        <td class="text-center" style="width: 10%"><a href="/delete/{{task.id}}">Delete</a></td>
        <td class="text-center"><a href="/details/{{task.id}}">Details</a></td>
    </tr>
    {% endfor %}
</tbody>
        </table>
        <div class="row">
    <div class="col-md-12 text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item{% if tasks_pagination.page == 1 %} disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('tasks', page=1, per_page=tasks_pagination.per_page) }}">First</a>
                </li>
                <li class="page-item{% if not tasks_pagination.has_prev %} disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('tasks', page=tasks_pagination.prev_num, per_page=tasks_pagination.per_page) }}">Previous</a>
                </li>
                <li class="page-item{% if not tasks_pagination.has_next %} disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('tasks', page=tasks_pagination.next_num, per_page=tasks_pagination.per_page) }}">Next</a>
                </li>
                <li class="page-item{% if tasks_pagination.page == tasks_pagination.pages %} disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('tasks', page=tasks_pagination.pages, per_page=tasks_pagination.per_page) }}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
        </div>

</body>
</html>